html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
  color: red;
}
.page-enter-active, .page-leave-active{
  transition: opacity .5s;
}
.page-enter, .page-leave-active{
  opacity: 0;
}